<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tiempo Transcurrido</title>
</head>
<body>

	  <h1>Resultado</h1>
	  <h2>Han Concurrido <span th:text="${resultadoTiempoTranscurridoYears}"></span> Años</h2>
	  <h2>Han Concurrido <span th:text="${resultadoTiempoTranscurridoMonths}"></span> Meses</h2>
	  <h2>Han Concurrido <span th:text="${resultadoTiempoTranscurridoDays}"></span> Dias</h2>
		
		<a href="menu">Volver al Menu</a>
	</body>
</html>