<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8">
		<title>TRABAJO PRACTICO N°2 EDM</title>
		
	</head>
	
	<body>
	
		<h1>Menu de Opciones</h1>
		
		<h2>Seleccione el Ejercicio a Visualizar</h2>
	
	    <ul>

	        <li><a href="/calculoEdad?fecha=2003-07-09">Calcular Edad</a></li> <!-- referencia al archivo html -->
	        <li><a href="/mostrarAlumnos?">Mostrar Listado de Alumnos</a></li>
	   		<li><a href="/mostrarEnteros?">Mostrar Listado de Enteros en Inversos</a></li>
	   		<li><a href="/punto5tp03?">Mostrar Cadena Invertida</a></li>
	   		
	   		<ul>
	   			<br>
  				<li><a href="/calcularTiempoTranscurrido?fecha1=1978-08-26&fecha2=1988-09-28">Calcular el tiempo transcurrido entre dos fechas</a></li>
  				<li><a href="/formatearFechaPage?fecha1=1978-08-26&fecha2=1988-09-28">Mostrar fechas en formato dd/MM/yyyy</a></li>
  				<li><a href="/compararFechasPage?fecha1=1988-09-29&fecha2=1988-09-28">Comparar Fechas</a></li>
				<br>
				<li><a href="/procesoFechaB1?">Mostrar el valor de cada fecha</a></li>
				<li><a href="/procesoFechaB2?">Incrementar Hora1 y Decrementar Hora2</a></li>
				<li><a href="/compararFechasPage?fecha1=1988-09-29&fecha2=1988-09-28">Comparar Fechas</a></li>
				<li><a href="/procesoFechaB4?">Mostrar el valor de cada variable</a></li>
				<li><a href="/procesoFechaB5?">Mostrar Tiempo Transcurrido entre fecha de cumpleaños y actualmente</a></li>
				<li><a href="/procesoFechaB6?fecha1=26/12/2003&fecha2=31/05/2022">Incrementar 365 dias a la fecha1 y 6 meses a la fecha2</a></li>
			</ul>

	   	
	   		
	    </ul>
	    
	</body>

</html>