<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8">
		<title>TRABAJO PRACTICO N°2 EDM</title>
		
	</head>
	
	<body>
	
		<h1>Menu de Opciones</h1>
		
		<h2>Seleccione el Ejercicio a Visualizar</h2>
	
	    <ul>
	        <li><a href="/calculoEdad?fecha=2003-07-09">Calcular Edad</a></li>
	        <li><a href="/mostrarAlumnos?">Mostrar Listado de Alumnos</a></li>
	   		<li><a href="/mostrarEnteros?">Mostrar Listado de Enteros en Inversos</a></li>
	    </ul>
	    
	</body>

</html>