<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8">
		<title>PUNTO N°6 TPN°3</title>
		
	</head>
	
	<body>
	
	    <h1>Listado de Numeros Enteros</h1>
	    <table>
	    	<tr>
	    		<th>Entero 1</th>
	    		<th>Entero 2</th>
	    		<th>Entero 3</th>
	    		<th>Entero 4</th>
	    		<th>Entero 5</th>
	    		<th>Entero 6</th>
	    		<th>Entero 7</th>
	    		<th>Entero 8</th>
	    		<th>Entero 9</th>
	    		<th>Entero 10</th>
	    	</tr>
	    		
	    	<tr th:each="alu:${listadoEnterosPunto6}"> 
	    		<th th:text="${alu.numero1}"></th>
	    		<th th:text="${alu.entero9}"></th>
	    		<th th:text="${alu.entero8}"></th>
	    		<th th:text="${alu.entero7}"></th>
	    		<th th:text="${alu.entero6}"></th>
	    		<th th:text="${alu.entero5}"></th>
	    		<th th:text="${alu.entero4}"></th>
	    		<th th:text="${alu.entero3}"></th>
	    		<th th:text="${alu.entero2}"></th>
	    		<th th:text="${alu.entero1}"></th>
	    	</tr>
	    </table>
		
		<a href="menu">Volver al Menu</a>
	</body>

</html>