<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PUNTO 03</title>
</head>
<body>
<h2>Nombre y Apellido del alumno: <span th:text="${Nombre}"></span> <span th:text="${Apellido}"></span></h2>
<h2>La libreta universitaria de <span th:text="${Apellido}"></span> es: <span th:text="${Libreta}"></span></h2>
<h2>El promedio del alumno es: <span th:text="${Promedio}"></span></span></h2>
<h2>La nota máxima del alumno es: <span th:text="${NotaMaxima}"></span></span></h2>
	<a href="menu">Volver al Menu</a>
</body>
</html>